@import 'variables';

.current-moon {
    .moon, .moon-phase img {
        width: 12.5em;

        @include extra-large {
            width: 26.5625em;
        }
    }

    .moon {
        filter: drop-shadow(0 0 .95em #004f99);
        margin: 0 auto 1.5em auto;
        position: relative;
        z-index: 1; // prevents box-shadow around relatively positioned date-and-time panel from overlapping moon svg

        .moon-phase {
            position: absolute;
            top: 0;
        }

        .flipped {
            // horizontally mirror moon SVG for waxing phases
            transform: scaleX(-1);
        }
    }

    .date-and-time {
        line-height: 1.5;
        position: relative;

        .settings {
            font-size: 1.2em;
            background: none;
            border: none;
            position: absolute;
            top: 2.85em;
            right: .65em;
            cursor: pointer;

            @include medium {
                top: 4em;
            }
        }

        & p {
            @include medium {
                font-size: 1.5em;
            }
        }
    }
}