@import 'variables';

.panels {
    @include large {
        margin: 0 auto;
        width: 50em;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 1em;
    }
}

.info-panel {

    & ul {
        text-align: left;
        line-height: 1.75;
        padding: .65em 1em 0 2em;

        li {
            margin-bottom: .75em;
        }
    }

    .content {
        @include large {
            font-size: 1.15em;
        }
    }
    
    .button {
        color: $lightest-gray;
        font-weight: 700;
        text-decoration: none;
        background-color: $dark-navy-blue;
        margin: 0.9375em auto 0 auto;
        width: 11.5em;
        height: 2.375em;
        border-radius: .75em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .twitter-icon {
        margin-right: 5px;
    }
}