@import 'current-moon';
@import 'info-panels';

html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: $light-gray;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: $navy-blue;
}

h1, h2, 
.date-and-time {
    color: $lightest-gray;
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    font-size: 3.25em;
    margin: 2rem 0 1rem 0;

    @include extra-large {
        margin: 1rem 0 2rem 0;
    }
}

h2 {
    font-size: 1.5em;
    margin: 1.125rem 0 0.625rem 0;

    @include large {
        font-size: 1.75em;
    }
}

main {
    @include extra-large {
        margin: 0 auto;
        width: 84.375em;
        padding-top: 6.5em;
        display: grid;
        justify-content: center;
        grid-template: 1fr / 31.25em /* current-moon div */ 53.125em /* panels div */;
    }
}

.date-and-time, .info-panel {
    @include panel-shadow;
    margin: 1.25em auto;
    padding: 1.25em;
    width: 14.6875em;

    @include medium {
        width: 20.3125em;
    }
    @include large {    // need to adjust panel margins and spacing on large size
        width: 25em; 
    }
    @include extra-large {
        margin: 0 auto;
    }
}

.icon {
    color: $light-gray;
}

.github {
    opacity: .35;
    position: absolute;
    top: .25em;
    right: .5em;
}